# fly.toml app configuration file generated for gecko-web on 2026-01-28T01:28:53+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gecko-web'
primary_region = 'iad'

[build]
  dockerfile = 'docker/Dockerfile'

[env]
  BOXMODEL_SOURCE_DIR = '/app/boxmodel_source'
  DATA_DIR = '/data'
  GECKO_SOURCE_DIR = '/app/gecko_source'

[[mounts]]
  source = 'gecko_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 50
    soft_limit = 30

  [[http_service.checks]]
    interval = '30s'
    timeout = '15s'
    grace_period = '1m0s'
    method = 'GET'
    path = '/api/environment'

[[vm]]
  cpu_kind = 'performance'
  cpus = 2
  memory_mb = 8192
