[build]
builder = "dockerfile"
dockerfilePath = "docker/Dockerfile"

[deploy]
healthcheckPath = "/api/environment"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[environments]
[environments.production]
[environments.production.variables]
PORT = "8000"
DATA_DIR = "/data"
